body,div,p,ul,li,ol,h1,h2,h3,h4,h5,h6,img{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal;}
em,i{font-style:normal;}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:none;}
ul,li,ol{list-style:none;}
body{font:14px/1.5 "微软雅黑",Arial;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
.container{
	width:1226px;
	margin:0 auto;
}

/*topbar*/





